@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --main-color: #277BC0;
    --white: #fff;
    --black: #000;
    --subtitle-color: #808080;
    --border-color: #ffa500;
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--white)
}
header{
    padding-top: 3rem;
    padding-bottom: .5rem;
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
main{
    color: var(--black);
}
h1{
    font-size: 1.5rem;
    margin: .5rem auto .5rem 1rem;
}
input[type="search"]{
    border-radius: 25px;
    padding: .3rem .7rem .3rem .7rem;
}
button{
    border: none;
    color: var(--white);
    background-color: var(--main-color);
    cursor: pointer;
    padding: .3rem 1rem;
    border-radius: 25px;
}
.dashboard{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
}
.dashboard-title{
    font-size: 1.4rem;
    display: inline-block;
    padding: .5rem 0 .5rem .5rem;
    display: flex;
    font-weight: 500;
    gap: .5rem;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    user-select: none;
}
.dashboard-group{
    list-style: none;
    margin: .5rem 0;
    padding: 0;
    align-items: center;
    transition: all .2s ease-in-out;
}
.dashboard-group_item{
    padding: .3rem .6rem;
    font-size: 1.2rem;
    user-select: none;
    cursor: pointer;
}
.hidden{
    display: none;
}
.visuallyHidden{
    opacity: 0;
}
.header-search{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: .2rem;
    gap: .3rem;
}
.header-search span{
    font-weight: bold;
    font-size: 12px;
}
.header-search img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.header-info img,
.trending-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.header-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.header-info_description{
    display: flex;
    flex-direction: column;
}
.header-info_description p{
    margin: 0;
}
.header-info_actions{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: .3rem;
}
.project-container,
.announcements-container,
.trending-container{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.project-item{
    background-color: var(--white);
    padding: .5rem;
    margin: .5rem;
    border-left: 4px solid var(--border-color);
    border-radius: .5rem;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}
.project-item_title, 
.project-item_description{
    padding: 0;
}
.project-item_description{
    text-align: justify;
}
.project-item_actions{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}
.announcements-item{
    background-color: var(--white);
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}
.item-container{
    padding: 0 1rem;
    text-align: justify;
    font-size: .75rem;
}
.item-container:nth-child(even){
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}
.item-container_title{
    margin-bottom: 0;
}
.item-container_description{
    margin-top: 0;
}
.trending-card{
    background-color: var(--white);
    padding: .5rem;
    margin: .5rem;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    border-radius: .5rem;
}
.trending-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 2rem;
    gap: 1rem;
    margin-bottom: .5rem;
}
.trending-description p{
    width: 100%;
    margin: 0;
}
.trending-description p:first-child{
    font-weight: bold;
}
.trending-description p:last-child{
    color: var(--subtitle-color);
}
.fa-bullhorn{
    cursor: pointer;
}
